<div class="container-fluid">

  <h2 class="sub-header">Termine</h2>
  <h3>Diese Funktion steht noch nicht zur Verf&uuml;gung.</h3>

<!--    <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warnung!</strong> Einige Vertr&auml;ge laufen in K&uuml;rze ab, bitte pr&uuml;fen!
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Vertragsnr.</th>
        <th>Bezeichnung</th>
        <th>Kündigung am</th>
        <th>Vertragspartner</th>
        <th>Kosten</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="bg-danger">363535-TG-3</td>
        <td class="bg-danger"><a href="vertragsdetails.html">Wartung Klimaanlage</a></td>
        <td class="bg-danger">31.07.2015</td>
        <td class="bg-danger">Kältetechnik Meyer</td>
        <td class="bg-danger">179€</td>
      </tr>
      <tr class="bg-warning">
        <td>987GGrrv-3</td>
        <td>ESX</td>
        <td>15.10.2015</td>
        <td>pco GmbH</td>
        <td>590€</td>
      </tr>
      <tr>
        <td>AT5-ZZgg75655</td>
        <td>Drucker-Wartung <span class="label label-warning">Warning</span></td>
        <td>01.11.2015</td>
        <td>EDV-Geräte Schmidt GmbH</td>
        <td>119€</td>
      </tr>
      <tr>
        <td>2015-456345</td>
        <td>USV <span class="label label-danger">Danger</span></td>
        <td>14.08.2015</td>
        <td>Elektro Meyer GmbH</td>
        <td>89€</td>
      </tr>
      <tr>
        <td>1,004</td>
        <td>dapibus</td>
        <td>diam</td>
        <td>Sed</td>
        <td>nisi</td>
      </tr>
      <tr>
        <td>1,005</td>
        <td>Nulla</td>
        <td>quis</td>
        <td>sem</td>
        <td>at</td>
      </tr>
      <tr>
        <td>1,006</td>
        <td>nibh</td>
        <td>elementum</td>
        <td>imperdiet</td>
        <td>Duis</td>
      </tr>
      <tr>
        <td>1,007</td>
        <td>sagittis</td>
        <td>ipsum</td>
        <td>Praesent</td>
        <td>mauris</td>
      </tr>
      <tr>
        <td>1,008</td>
        <td>Fusce</td>
        <td>nec</td>
        <td>tellus</td>
        <td>sed</td>
      </tr>
      <tr>
        <td>1,009</td>
        <td>augue</td>
        <td>semper</td>
        <td>porta</td>
        <td>Mauris</td>
      </tr>
      <tr>
        <td>1,010</td>
        <td>massa</td>
        <td>Vestibulum</td>
        <td>lacinia</td>
        <td>arcu</td>
      </tr>
      <tr>
        <td>1,011</td>
        <td>eget</td>
        <td>nulla</td>
        <td>Class</td>
        <td>aptent</td>
      </tr>
      <tr>
        <td>1,012</td>
        <td>taciti</td>
        <td>sociosqu</td>
        <td>ad</td>
        <td>litora</td>
      </tr>
      <tr>
        <td>1,013</td>
        <td>torquent</td>
        <td>per</td>
        <td>conubia</td>
        <td>nostra</td>
      </tr>
      <tr>
        <td>1,014</td>
        <td>per</td>
        <td>inceptos</td>
        <td>himenaeos</td>
        <td>Curabitur</td>
      </tr>
      </tbody>
    </table>
  </div>

  <nav class="text-center">
    <ul class="pagination">
    <li>
      <a href aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href>1</a></li>
    <li><a href>2</a></li>
    <li><a href>3</a></li>
    <li><a href>4</a></li>
    <li><a href>5</a></li>
    <li>
      <a href aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    </ul>
  </nav>-->
</div>
