<div class="modal-header">
  <h3 class="modal-title">&Uuml;ber CloudContracts</h3>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="col-lg-3">
      <img src="../../../assets/img/pco-logo.png" class="img-responsive" alt="pco Logo">
    </div>
    <div class="col-lg-9">
      <p>CloudContracts - ein Tool zur Verwaltung von Vertr&auml;gen. Hergestellt von pco</p>
      <p><b>Version: {{$ctrl.version}}</b></p>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Schlie&szlig;en</button>
</div>
